.CheckoutItem {
  display: flex;
}

.SkinImg {
  width: 140rem;
}

.SkinImg img {
  width: 100%;
}

.Desc {
  flex: auto;
  margin-left: 20rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.Title {
  font-size: 24rem;
}

.PriceOuter {
  display: flex;
  justify-content: space-between;
}

.Price {
  font-size: 26rem;
  font-weight: bold;
}

.Price::before {
  content: 'ï¿¥';
  font-weight: normal;
  font-size: 24rem;
}